#main {
	margin-top: 100px;
}

.red {
	color: green;
}

.footer {
	height: 60px;
	width: 100%;
	color: whitesmoke;
}

.logo {
	width: 60px;
}

.adminAddBtn {
	margin-top: 10px;
	margin-bottom: 25px;
}

.deleteIcon{
	cursor: pointer;
}

span.prodtitle {
    font-weight: 800;
}