#main {
	margin-top: 100px;
}

.red {
	color: green;
}

.footer {
	height: 60px;
	width: 100%;
	color: whitesmoke;
	display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
	font-size: smaller;
}
.redText {
	color: red;
}
.greenText {
	color: green;
}
.f-text {
	text-align: center;
	font-size: 0.7rem;
}

.logo {
	width: 60px;
}

.adminAddBtn {
	margin-top: 10px;
	margin-bottom: 25px;
}

.deleteIcon{
	cursor: pointer;
}

span.prodtitle {
    font-weight: 800;
}

.row{
	margin-bottom: 1.3rem;
		margin-top: 1.3rem;
}





.ok-page{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.ok-txt{
	width: 100%;
}


.ok-img{
	
	width: 100%;
    text-align: center;
    padding: 100px;
}


.ok-ico{
	font-size: 22em;
	color: darkgreen;
	
}
